if TARGET_MYD_LMX93_11X11 || TARGET_IMX93_14X14_EVK

config SYS_BOARD
	default "myd_lmx93x"

config SYS_VENDOR
	default "myir"

config SYS_CONFIG_NAME
	default "myd_lmx93x"

config IMX93_EVK_LPDDR4X_1G
	bool "Using LPDDR4X Timing and PMIC voltage"
	default n
	select IMX9_LPDDR4X
	help
	  Select the LPDDR4X timing and 0.6V VDDQ

config IMX93_EVK_LPDDR4X_2G
	bool "Using LPDDR4X Timing and PMIC voltage"
	default n
	select IMX9_LPDDR4X
	help
	  Select the LPDDR4X timing and 0.6V VDDQ

endif
